{erl_opts, [
    debug_info
]}.

{deps, [
    {eredis,            {git, "git@github.com:tigertext/eredis.git",            {branch, "master"}}},
    {worker_pool,       {git, "git@github.com:tigertext/worker_pool.git",       {branch, "otp20"}}},
    {redis_client_pool, {git, "git@github.com:tigertext/redis_client_pool.git", {branch, "otp20"}}}
]}.
